@using OnlineStore.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="@Url.Content("~/Content/firstpage/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/firstpage/bootstrap.css")" rel="stylesheet" type="text/css" />
</head>
<body>

    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:360px">
                <div class="modal-header">
                    <h2 class="text-center">Login</h2>
                </div>
                <div class="modal-body">
                    <form class="form col-md-12 center-block" method="post" action="Account/Login">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Email" name="Email">
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" placeholder="Password" name="Password">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign In" />
                        </div>
                    </form>
                    <form class="form col-md-12 center-block" action="Account/Register">

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Register" />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</body>
</html>
